In [11]:
import sqlite3
import pandas as pd # type: ignore

In [12]:
providers_df = pd.read_csv(r"D:\Guvi Project 1\providers_data.csv")
receivers_df = pd.read_csv(r"D:\Guvi Project 1\receivers_data.csv")
food_listings_df = pd.read_csv(r"D:\Guvi Project 1\food_listings_data.csv")
claims_df = pd.read_csv(r"D:\Guvi Project 1\claims_data.csv")

In [15]:
print("Providers Data:")
display(providers_df.head())

print("\nReceivers Data:")
display(receivers_df.head())

print("\nFood Listings Data:")
display(food_listings_df.head())

print("\nClaims Data:")
display(claims_df.head())

Providers Data:

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577

Receivers Data:

   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

Food Listings Data:

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

Claims Data:

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

In [16]:
conn = sqlite3.connect("food_waste_management.db")
cursor = conn.cursor()
print("✅ SQLite Database 'food_waste_management.db' created successfully!")
conn.close()

conn = sqlite3.connect("food_waste_management.db")
cursor = conn.cursor()

✅ SQLite Database 'food_waste_management.db' created successfully!

In [17]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect("food_waste_management.db")
cursor = conn.cursor()

# Drop tables if they exist
cursor.execute("DROP TABLE IF EXISTS Providers")
cursor.execute("DROP TABLE IF EXISTS Receivers")
cursor.execute("DROP TABLE IF EXISTS Food_Listings")
cursor.execute("DROP TABLE IF EXISTS Claims")

# Create Providers table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Providers(
    Provider_ID INTEGER PRIMARY KEY,
    Name TEXT,
    Type TEXT,
    Address TEXT,
    City TEXT,
    Contact TEXT
)
''')

# Create Receivers table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Receivers(
    Receiver_ID INTEGER PRIMARY KEY,
    Name TEXT,
    Type TEXT,
    City TEXT,
    Contact TEXT
)
''')

# Create Food_Listings table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Food_Listings(
    Food_ID INTEGER PRIMARY KEY,
    Food_Name TEXT,
    Quantity INTEGER,
    Expiry_Date DATE,
    Provider_ID INTEGER,
    Provider_Type TEXT,
    Location TEXT,
    Food_Type TEXT,
    Meal_Type TEXT,
    FOREIGN KEY (Provider_ID) REFERENCES Providers(Provider_ID)
)
''')

# Create Claims table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Claims(
    Claim_ID INTEGER PRIMARY KEY,
    Food_ID INTEGER,
    Receiver_ID INTEGER,
    Status TEXT,
    Timestamp DATETIME,
    FOREIGN KEY (Food_ID) REFERENCES Food_Listings(Food_ID),
    FOREIGN KEY (Receiver_ID) REFERENCES Receivers(Receiver_ID)
)
''')

# Commit and close connection
conn.commit()
conn.close()

print("✅ Tables created successfully!")

✅ Tables created successfully!

In [18]:
def insert_data_from_csv(csv_file, table_name, conn):
    df = pd.read_csv(csv_file)  # Read CSV file
    df.to_sql(table_name, conn, if_exists="append", index=False)  # Insert into SQL
    print(f"✅ Data inserted into '{table_name}' successfully.")
    
conn = sqlite3.connect("food_waste_management.db")

# Insert data into tables
insert_data_from_csv("providers_data.csv", "Providers", conn)
insert_data_from_csv("receivers_data.csv", "Receivers", conn)
insert_data_from_csv("food_listings_data.csv", "Food_Listings", conn)
insert_data_from_csv("claims_data.csv", "Claims", conn)

# Close the connection
conn.close()

print("🎉 All data has been successfully inserted into the database!")

✅ Data inserted into 'Providers' successfully.
✅ Data inserted into 'Receivers' successfully.
✅ Data inserted into 'Food_Listings' successfully.
✅ Data inserted into 'Claims' successfully.
🎉 All data has been successfully inserted into the database!

In [19]:
conn = sqlite3.connect("food_waste_management.db")
cursor = conn.cursor()

# Check data from Providers Table
print("\nProviders Table:")
for row in cursor.execute("SELECT * FROM Providers LIMIT 5"):
    print(row)

# Check data from Food Listings Table
print("\nFood Listings Table:")
for row in cursor.execute("SELECT * FROM Food_Listings LIMIT 5"):
    print(row)

# Close the connection
conn.close()

Providers Table:
(1, 'Gonzales-Cochran', 'Supermarket', '74347 Christopher Extensions\nAndreamouth, OK 91839', 'New Jessica', '+1-600-220-0480')
(2, 'Nielsen, Johnson and Fuller', 'Grocery Store', '91228 Hanson Stream\nWelchtown, OR 27136', 'East Sheena', '+1-925-283-8901x6297')
(3, 'Miller-Black', 'Supermarket', '561 Martinez Point Suite 507\nGuzmanchester, WA 94320', 'Lake Jesusview', '001-517-295-2206')
(4, 'Clark, Prince and Williams', 'Grocery Store', '467 Bell Trail Suite 409\nPort Jesus, IA 61188', 'Mendezmouth', '556.944.8935x401')
(5, 'Coleman-Farley', 'Grocery Store', '078 Matthew Creek Apt. 319\nSaraborough, MA 53978', 'Valentineside', '193.714.6577')

Food Listings Table:
(1, 'Bread', 43, '3/17/2025', 110, 'Grocery Store', 'South Kellyville', 'Non-Vegetarian', 'Breakfast')
(2, 'Soup', 22, '3/24/2025', 791, 'Grocery Store', 'West James', 'Non-Vegetarian', 'Dinner')
(3, 'Fruits', 46, '3/28/2025', 478, 'Catering Service', 'Lake Regina', 'Vegan', 'Breakfast')
(4, 'Fruits', 15, '3/16/2025', 930, 'Restaurant', 'Kellytown', 'Vegan', 'Lunch')
(5, 'Soup', 14, '3/19/2025', 279, 'Restaurant', 'Garciaport', 'Vegan', 'Dinner')

In [21]:
#Question 1) How many food providers and receivers are there in each city?

import sqlite3
import pandas as pd # type: ignore


conn = sqlite3.connect("food_waste_management.db")  
cursor = conn.cursor()

query = """
SELECT 
    P.City,
    COUNT(DISTINCT P.Provider_ID) AS Total_Providers,
    COUNT(DISTINCT R.Receiver_ID) AS Total_Receivers
FROM Providers P
LEFT JOIN Receivers R ON P.City = R.City
GROUP BY P.City;
"""

# Execute the query and load results into a DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close connection
conn.close()

                 City  Total_Providers  Total_Receivers
0            Adambury                1                0
1           Adamsview                1                0
2          Adamsville                1                0
3        Aguirreville                1                0
4    Alexanderchester                1                0
..                ...              ...              ...
958       Wrightville                1                0
959         Yatesside                1                0
960      Youngchester                1                0
961      Zimmermanton                1                0
962    Zimmermanville                1                0

[963 rows x 3 columns]

In [22]:
#Question 2) Which type of food provider (restaurant, grocery store, etc.) contributes the most food?

conn = sqlite3.connect("food_waste_management.db")  
cursor = conn.cursor()

query = """
SELECT Provider_Type, SUM(Quantity) AS Total_Food_Quantity
FROM Food_Listings
GROUP BY Provider_Type
ORDER BY Total_Food_Quantity DESC
LIMIT 1;
"""
df = pd.read_sql_query(query, conn)
print(df)

  Provider_Type  Total_Food_Quantity
0    Restaurant                 6923

In [23]:
# Checking all the cities name.

query_cities = "SELECT DISTINCT City FROM Providers;"
df_cities = pd.read_sql_query(query_cities, conn)
print(df_cities)

               City
0       New Jessica
1       East Sheena
2    Lake Jesusview
3       Mendezmouth
4     Valentineside
..              ...
958    Manningshire
959   East Rossside
960      Joshuastad
961   Stevenchester
962     Brendantown

[963 rows x 1 columns]

In [24]:
#Question 3) What is the contact information of food providers in a specific city?

# Choose a valid city from the output
city = "Stevenchester"  # Change this to a valid city name

query = f"""
SELECT Name, Contact, Address
FROM Providers
WHERE TRIM(City) = '{city}';
"""
df = pd.read_sql_query(query, conn)
print(df)

        Name            Contact  \
0  Moody Ltd  637.300.3664x4880

                                           Address
0  17580 Ernest Hills\nLake Michaelmouth, OR 56416

In [25]:
#Question 4) Which receivers have claimed the most food?

query = """
SELECT Receivers.Name, COUNT(Claims.Claim_ID) AS Total_Claims
FROM Claims
JOIN Receivers ON Claims.Receiver_ID = Receivers.Receiver_ID
GROUP BY Receivers.Name
ORDER BY Total_Claims DESC
LIMIT 5;
"""
df = pd.read_sql_query(query, conn)
print(df)

                Name  Total_Claims
0  William Frederick             5
1       Scott Hunter             5
2       Matthew Webb             5
3     Anthony Garcia             5
4    Kristine Martin             4

In [26]:
#Question 5) What is the total quantity of food available from all providers?

query = """
SELECT SUM(Quantity) AS Total_Available_Food
FROM Food_Listings;
"""
df = pd.read_sql_query(query, conn)
print(df)

   Total_Available_Food
0                 25794

In [27]:
#Question 6) Which city has the highest number of food listings?

query = """
SELECT Location AS City, COUNT(Food_ID) AS Total_Listings
FROM Food_Listings
GROUP BY Location
ORDER BY Total_Listings DESC
LIMIT 1;
"""
df = pd.read_sql_query(query, conn)
print(df)

            City  Total_Listings
0  South Kathryn               6

In [28]:
#Question 7) What are the most commonly available food types?

query = """
SELECT Food_Type, COUNT(*) AS Count
FROM Food_Listings
GROUP BY Food_Type
ORDER BY Count DESC
LIMIT 5;
"""
df = pd.read_sql_query(query, conn)
print(df)

        Food_Type  Count
0      Vegetarian    336
1           Vegan    334
2  Non-Vegetarian    330

In [29]:
#check the expirty date of the food listings

query_check = "SELECT MIN(Expiry_Date), MAX(Expiry_Date) FROM Food_Listings;"
df_check = pd.read_sql_query(query_check, conn)
print(df_check)

  MIN(Expiry_Date) MAX(Expiry_Date)
0        3/16/2025        3/30/2025

In [30]:
#Question 8) Which food listings are expiring soon (within the next 3 days)?


query = """
SELECT * 
FROM Food_Listings
WHERE DATE(Expiry_Date) BETWEEN DATE('now') AND DATE('now', '+3 days')
ORDER BY Expiry_Date;
"""
df = pd.read_sql_query(query, conn)
print(df)

#No data as the expiry date is not in the range of 3 days.

Empty DataFrame
Columns: [Food_ID, Food_Name, Quantity, Expiry_Date, Provider_ID, Provider_Type, Location, Food_Type, Meal_Type]
Index: []

In [31]:
#Question 9) How many food claims have been made for each food item?

query = """
SELECT Food_Listings.Food_Name, COUNT(Claims.Claim_ID) AS Total_Claims
FROM Claims
JOIN Food_Listings ON Claims.Food_ID = Food_Listings.Food_ID
GROUP BY Food_Listings.Food_Name
ORDER BY Total_Claims DESC;
"""
df = pd.read_sql_query(query, conn)
print(df)

    Food_Name  Total_Claims
0        Rice           122
1        Soup           114
2       Dairy           110
3        Fish           108
4       Salad           106
5     Chicken           102
6       Bread            94
7       Pasta            87
8  Vegetables            86
9      Fruits            71

In [ ]:
#Question 10) Which provider has had the highest number of successful food claims?

query = """
SELECT Providers.Name, COUNT(Claims.Claim_ID) AS Successful_Claims
FROM Claims
JOIN Food_Listings ON Claims.Food_ID = Food_Listings.Food_ID
JOIN Providers ON Food_Listings.Provider_ID = Providers.Provider_ID
WHERE Claims.Status = 'Completed'
GROUP BY Providers.Name
ORDER BY Successful_Claims DESC
LIMIT 1;
"""
df = pd.read_sql_query(query, conn)
print(df)

          Name  Successful_Claims
0  Barry Group                  5

In [52]:
query_check_columns = "PRAGMA table_info(Food_Listings);"
df_columns = pd.read_sql_query(query_check_columns, conn)
print(df_columns)

   cid           name     type  notnull dflt_value  pk
0    0        Food_ID  INTEGER        0       None   1
1    1      Food_Name     TEXT        0       None   0
2    2       Quantity  INTEGER        0       None   0
3    3    Expiry_Date     DATE        0       None   0
4    4    Provider_ID  INTEGER        0       None   0
5    5  Provider_Type     TEXT        0       None   0
6    6       Location     TEXT        0       None   0
7    7      Food_Type     TEXT        0       None   0
8    8      Meal_Type     TEXT        0       None   0
9    9   Listing_Date     DATE        0       None   0

In [53]:
query_update = "UPDATE Food_Listings SET Listing_Date = '2024-03-01' WHERE Listing_Date IS NULL;"
conn.execute(query_update)
conn.commit()

In [ ]:
#Question 11) Which city has the fastest claim rate (average time between food listing and claim)?

query = """
SELECT Food_Listings.Location AS City, 
       AVG(JULIANDAY(Claims.Timestamp) - JULIANDAY(Food_Listings.Listing_Date)) AS Avg_Claim_Time
FROM Claims
JOIN Food_Listings ON Claims.Food_ID = Food_Listings.Food_ID
GROUP BY City
ORDER BY Avg_Claim_Time ASC
Limit 2;
"""
df = pd.read_sql_query(query, conn)
print(df)

#As there is no date in the listing table, we cannot calculate the average time between food listing and claim.

               City Avg_Claim_Time
0          Adambury           None
1  Alexanderchester           None

In [ ]:
#Question 12) What percentage of food claims are completed vs. pending vs. canceled?

query = """
SELECT Status, 
       COUNT(*) AS Count, 
       (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM Claims)) AS Percentage
FROM Claims
GROUP BY Status;
"""
df = pd.read_sql_query(query, conn)
print(df)

      Status  Count  Percentage
0  Cancelled    336        33.6
1  Completed    339        33.9
2    Pending    325        32.5

In [ ]:
#Question 13) What is the average quantity of food claimed per receiver?

query = """
SELECT Receivers.Name, AVG(Food_Listings.Quantity) AS Avg_Quantity_Claimed
FROM Claims
JOIN Food_Listings ON Claims.Food_ID = Food_Listings.Food_ID
JOIN Receivers ON Claims.Receiver_ID = Receivers.Receiver_ID
GROUP BY Receivers.Name
ORDER BY Avg_Quantity_Claimed DESC;
"""
df = pd.read_sql_query(query, conn)
print(df)

                  Name  Avg_Quantity_Claimed
0    Thomas Villanueva                  50.0
1         Peggy Knight                  50.0
2          Nancy Silva                  50.0
3          Nancy Jones                  50.0
4           Lisa Pitts                  50.0
..                 ...                   ...
615     Kenneth Barnes                   2.0
616      John Reynolds                   2.0
617    Corey Rodriguez                   2.0
618      Joshua Hooper                   1.0
619       Amanda Kline                   1.0

[620 rows x 2 columns]

In [ ]:
#Question 14)  Which meal type (breakfast, lunch, dinner, snacks) is claimed the most?

query = """
SELECT Meal_Type, COUNT(*) AS Total_Claims
FROM Food_Listings
JOIN Claims ON Food_Listings.Food_ID = Claims.Food_ID
GROUP BY Meal_Type
ORDER BY Total_Claims DESC;
"""
df = pd.read_sql_query(query, conn)
print(df)

   Meal_Type  Total_Claims
0  Breakfast           278
1      Lunch           250
2     Snacks           240
3     Dinner           232

In [ ]:
#Question 15) What is the total quantity of food donated by each provider?

query = """
SELECT Providers.Name, SUM(Food_Listings.Quantity) AS Total_Donated
FROM Food_Listings
JOIN Providers ON Food_Listings.Provider_ID = Providers.Provider_ID
GROUP BY Providers.Name
ORDER BY Total_Donated DESC;
"""
df = pd.read_sql_query(query, conn)
print(df)

                                Name  Total_Donated
0                         Miller Inc            217
1                        Barry Group            179
2         Evans, Wright and Mitchell            158
3                        Smith Group            150
4                       Campbell LLC            145
..                               ...            ...
623                   Reyes and Sons              1
624                  Norris-Townsend              1
625                        Mcgee PLC              1
626  Martinez, Armstrong and Carroll              1
627                   Gonzales-Moore              1

[628 rows x 2 columns]

In [ ]:
#Question 16) Which 5 cities has the highest percentage of food claims?

query = """
SELECT Location, 
       COUNT(Claims.Claim_ID) * 100.0 / COUNT(Food_Listings.Food_ID) AS Claim_Percentage
FROM Food_Listings
LEFT JOIN Claims ON Food_Listings.Food_ID = Claims.Food_ID
GROUP BY Location
ORDER BY Claim_Percentage DESC
LIMIT 5;
"""
df = pd.read_sql_query(query, conn)
print(df)

       Location  Claim_Percentage
0  Youngchester             100.0
1     Yatesside             100.0
2      Woodport             100.0
3    Wilsonview             100.0
4    Wilsonport             100.0

In [ ]:
#Question 17) Which food items have never been claimed?

query = """
SELECT Food_Name, Provider_ID, Expiry_Date
FROM Food_Listings
WHERE Food_ID NOT IN (SELECT DISTINCT Food_ID FROM Claims)
ORDER BY Expiry_Date ASC;
"""
df = pd.read_sql_query(query, conn)
print(df)

    Food_Name  Provider_ID Expiry_Date
0      Fruits          930   3/16/2025
1        Rice          179   3/16/2025
2        Rice          150   3/16/2025
3      Fruits          174   3/16/2025
4       Pasta          905   3/16/2025
..        ...          ...         ...
348     Dairy          770   3/30/2025
349   Chicken          381   3/30/2025
350      Rice          591   3/30/2025
351   Chicken          626   3/30/2025
352      Fish          467   3/30/2025

[353 rows x 3 columns]

In [ ]:
#Question 18) Which meal types are donated the most in each city?

query = """
SELECT Location, Meal_Type, COUNT(*) AS Count
FROM Food_Listings
GROUP BY Location, Meal_Type
ORDER BY Location, Count DESC;
"""
df = pd.read_sql_query(query, conn)
print(df)

             Location  Meal_Type  Count
0            Adambury      Lunch      1
1    Alexanderchester     Dinner      1
2        Allenborough     Dinner      1
3            Allenton     Snacks      1
4            Allenton      Lunch      1
..                ...        ...    ...
866         Yatesside     Snacks      1
867      Youngchester     Snacks      2
868      Zimmermanton      Lunch      2
869    Zimmermanville  Breakfast      2
870    Zimmermanville      Lunch      1

[871 rows x 3 columns]

In [ ]:
#Question 19) What is the most claimed food type in each city?

query = """
SELECT Location, Food_Type, COUNT(*) AS Claim_Count
FROM Claims
JOIN Food_Listings ON Claims.Food_ID = Food_Listings.Food_ID
GROUP BY Location, Food_Type
ORDER BY Location, Claim_Count DESC;
"""
df = pd.read_sql_query(query, conn)
print(df)

             Location       Food_Type  Claim_Count
0            Adambury  Non-Vegetarian            3
1    Alexanderchester      Vegetarian            2
2        Allenborough           Vegan            1
3            Allenton      Vegetarian            2
4            Allenton           Vegan            1
..                ...             ...          ...
579          Woodport  Non-Vegetarian            1
580         Yatesside           Vegan            2
581      Youngchester      Vegetarian            3
582      Zimmermanton      Vegetarian            1
583    Zimmermanville      Vegetarian            5

[584 rows x 3 columns]

In [ ]:
#Question 20) Which provider has the lowest claim rate?

query = """
SELECT Provider_ID, Provider_Type, 
       COUNT(Claims.Claim_ID) * 100.0 / COUNT(Food_Listings.Food_ID) AS Claim_Rate
FROM Food_Listings
LEFT JOIN Claims ON Food_Listings.Food_ID = Claims.Food_ID
GROUP BY Provider_ID, Provider_Type
ORDER BY Claim_Rate ASC
LIMIT 5;
"""
df = pd.read_sql_query(query, conn)
print(df)

   Provider_ID     Provider_Type  Claim_Rate
0            5     Grocery Store         0.0
1           10  Catering Service         0.0
2           11       Supermarket         0.0
3           14  Catering Service         0.0
4           33        Restaurant         0.0

In [ ]:
#Question 21) What is the overall claim success rate for all listings?

query = """
SELECT 
    COUNT(DISTINCT Claims.Food_ID) * 100.0 / COUNT(DISTINCT Food_Listings.Food_ID) AS Claim_Success_Rate
FROM Food_Listings
LEFT JOIN Claims ON Food_Listings.Food_ID = Claims.Food_ID;
"""
df = pd.read_sql_query(query, conn)
print(df)

conn.close()

   Claim_Success_Rate
0                64.7

In [65]:
conn = sqlite3.connect("food_waste_management.db")

# Check Providers table
query_providers = "PRAGMA table_info(Providers);"
df_providers = pd.read_sql_query(query_providers, conn)
print("Providers Table Structure:")
print(df_providers)

# Check Receivers table
query_receivers = "PRAGMA table_info(Receivers);"
df_receivers = pd.read_sql_query(query_receivers, conn)
print("\nReceivers Table Structure:")
print(df_receivers)

conn.close()

Providers Table Structure:
   cid         name     type  notnull dflt_value  pk
0    0  Provider_ID  INTEGER        0       None   1
1    1         Name     TEXT        0       None   0
2    2         Type     TEXT        0       None   0
3    3      Address     TEXT        0       None   0
4    4         City     TEXT        0       None   0
5    5      Contact     TEXT        0       None   0

Receivers Table Structure:
   cid         name     type  notnull dflt_value  pk
0    0  Receiver_ID  INTEGER        0       None   1
1    1         Name     TEXT        0       None   0
2    2         Type     TEXT        0       None   0
3    3         City     TEXT        0       None   0
4    4      Contact     TEXT        0       None   0

In [73]:
import streamlit as st
import pandas as pd
import sqlite3

# Database connection
def get_connection():
    return sqlite3.connect("food_waste_management.db")

# Load data from SQLite
def load_data(query):
    conn = get_connection()
    df = pd.read_sql_query(query, conn)
    return df

# Streamlit App
st.set_page_config(page_title="Food Waste Management", page_icon="🍽️", layout="wide")
st.title("Food Waste Management System")
st.subheader("Connecting Food Providers and Receivers")
# Sidebar Navigation
st.sidebar.title("Navigation")
page = st.sidebar.radio("Go to", ["Home", "Food Providers", "Food Listings", "Claims Data", "Analytics"])

# Home Page
if page == "Home":
    st.title("🍽️ Food Waste Management System")
    st.subheader("Reducing food waste by connecting providers with receivers!")
    st.write("""This system helps restaurants, grocery stores, and individuals donate excess food to those in need.""")
    st.image("https://source.unsplash.com/800x400/?food,saving", use_column_width=True)

# Food Providers Page
elif page == "Food Providers":
    st.title("🏢 Food Providers & Receivers")
    query = """SELECT City, COUNT(DISTINCT Provider_ID) AS Providers, COUNT(DISTINCT Receiver_ID) AS Receivers 
               FROM Providers JOIN Receivers ON Providers.City = Receivers.City 
               GROUP BY City"""
    df = load_data(query)
    st.dataframe(df)

# Food Listings Page
elif page == "Food Listings":
    st.title("📋 Available Food Listings")
    query = "SELECT * FROM Food_Listings"
    df = load_data(query)
    st.dataframe(df)

# Claims Data Page
elif page == "Claims Data":
    st.title("📊 Food Claims Data")
    query = "SELECT * FROM Claims"
    df = load_data(query)
    st.dataframe(df)

# Analytics Page
elif page == "Analytics":
    st.title("📈 Food Waste Analytics")
    query = "SELECT Food_Type, COUNT(*) AS Count FROM Food_Listings GROUP BY Food_Type"
    df = load_data(query)
    st.bar_chart(df.set_index("Food_Type"))
    st.write("Most Commonly Available Food Types")

2025-04-02 12:33:09.562 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.570 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.570 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.578 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.586 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.586 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.602 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.610 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.618 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.634 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.650 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.650 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.666 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.666 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.674 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.674 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.682 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.682 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.690 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.697 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.705 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.705 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.713 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.713 The `use_column_width` parameter has been deprecated and will be removed in a future release. Please utilize the `use_container_width` parameter instead.
2025-04-02 12:33:09.721 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.728 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 12:33:09.728 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [69]:
import sqlite3

conn = sqlite3.connect("food_waste_management.db")  # Replace with your actual database name
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print(tables)
conn.close()

[('Providers',), ('Receivers',), ('Food_Listings',), ('Claims',)]